@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

.swal2-confirm {
  background-color: #3085d6 !important;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 6px !important;
  font-weight: bold !important;
  display: inline-block !important;
}

.swal2-cancel {
  background-color: #d33 !important;
  color: white !important;
  padding: 10px 20px !important;
  border-radius: 6px !important;
  font-weight: bold !important;
  display: inline-block !important;
}
